.subrosa-image-emoticon[title=":)"],
.subrosa-image-emoticon[title=":-)"],
.subrosa-image-emoticon[title=":]"],
.subrosa-image-emoticon[title=":-]"],
.subrosa-image-emoticon[title=":D"],
.subrosa-image-emoticon[title=":-D"] {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../img/emoticons/SMILING_FACE_WITH_OPEN_MOUTH.png);
}
