body {
	font-size: 11pt;
}
#app {
	position: absolute;
}
.preloader {
	position: absolute; top: 50%; left: 50%; height: 60px; width: 160px; margin-top: -30px; margin-left: -80px; background-color: #EEE; border: 1px solid #444; z-index: 10000; padding: 20px; text-align: center;
}
.preloader > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#disconnectedOverlay {
	position: absolute;
    background-color: #6D6D6D;
    width: 100%;
    height: 33px;
    z-index: 500;
}
#disconnectedOverlay > span {
	text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 2px;
    font-size: 175%;
    color: #FFF;
}
a:hover {
	cursor: pointer;
}
#header {
	height: 36px;
	width: 100%;
	display: block;
	background-color: #BBD8E5;
	border-radius: 4px 4px 0 0;
}
#body {
	background-color: #EEEEEE;
	height: 100%;
}
#startScreen {
	width: 100%;
	height: 100%;
	background-image: url('../img/pixelbg.png');
}
#startScreenContent, #startScreenContent, #createAccountContent {
	position: relative;
	width: 500px;
	height: 480px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 auto;
}
#permissionScreen {
	width: 100%;
	height: 100%;
	background-image: url('../img/pixelbg.png');
}
#permissionScreenContent {
	position: relative;
	overflow-y: auto;
	width: 500px;
}
.permissionHelpBlurb {
	display: inline-block;
	width: 400px;
	margin-left: 20px;
	margin-top: -10px;
}
.permissionHelpBlurb .p:first-child {
	margin-top: 7px;
}
.largefa {
	font-size: 200%;
}
#createAccountContent > div {
	position: relative;
	width: 100%;
}
#createAccountHeader h2{
	margin-top: 0px;
}
#createAccountFooter {
	padding-top: 15px;
}
#createAccountStep2Strength {
	margin-left: 4px;
	font-weight: bold;
}
.passwordStrength[data-strength="Too weak"] {
	color: #F53232;
}
.passwordStrength[data-strength="Good"] {
	color: #71CC54;
}
.passwordStrength[data-strength="Strong"] {
	color: #1EAD40;
}
#createAccountStep3Gen {
	width: 478px;
	height: 175px;
	border: 1px solid #98C4E2;
	border-radius: 3px;
	background-color: #E5F1FC;
	font-family: monospace;
	padding: 10px;
}
#startScreen .brand {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 125%;
	margin-bottom: 35px;
}
#startScreen .brand h3 {
	margin-top: -10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: #929292;
}
#startScreen #auth {
}
#startScreen #authLeft {
	width: 184px;
	float: left;
	margin-right: 40px;
	display: inline-block;
}
#startScreen #authRight {
	width: 254px;
	float: left;
	display: inline-block;
}
#startScreen #footer {
	clear: both;
	display: block;
	padding-top: 40px;
	color: #777;
	font-size: 90%;
}
.errorMessage {
	color: red;
	font-weight: bold;
}
#loginErrorMessage {
	clear: both;
	display: block;
}
#loginRemember {
	float: right;
}	
#loginRememberLabel {
	position: relative;
	top: -2px;
}
#loginRememberPopover > .popoverContent {
	max-width: 200px;
}
#signInSpinner {
	margin-right: 7px;
	float: left;
}
#errorNotice {
	color: red;
}
#mainScreen {
	width: 100%;
	height: 100%;
	background-image: url('../img/pixelbg.png');
}
#mainSidebar {
	display: block;
	float: left;
	height: 100%;
	width: 255px;
	padding-left: 10px;
	padding-top: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#mainSidebar.collapsed {
	width: 73px;
	margin-right: 5px;
}
#mainSidebar.collapsed .sidebarListItem > .listItemTitle {
	display: none;
}
#mainSidebar.collapsed .sidebarListItem > .listItemSubtitle {
	display: none;
}
#mainSidebar.collapsed #editProfileIcon {
	display: none;
}
#mainSidebar.collapsed .sidebarListItem > .listItemPinned {
	display: none;
}
#sidebarList {
	background-color: #FFF;
	border: 1px solid #C4C4C4;
	overflow-x: hidden;
	overflow-y: auto;
}
#mainScreen .sidebarListItem {
	height: 30px;
	padding: 3px 4px 5px 6px;
	cursor: pointer;
}
#mainScreen .sidebarListItem:hover {
	background-color: #C8E2EE;
}
#mainScreen .sidebarListItem.activeItem, #mainScreen .sidebarListItem:active {
	background-color: #92CAE4;
}
#mainScreen .sidebarListItem[data-item=me] {
	background-color: #F0F0F0;
	padding-bottom: 8px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	cursor: pointer;
}
.listItemIcon {
	font-size: 200%;
	float: left;
	width: 32px;
	height: 32px;
	margin-left: 4px;
	border-radius: 3px;
}
.sidebarListItem[data-status="0"] .listItemIcon,.listItemIcon[data-status="4"]  .listItemIcon {
	border-left: 4px solid #CACACA;
	margin-left: 0px;
}
.sidebarListItem[data-status="1"] .listItemIcon {
	border-left: 4px solid #42CC28;
	margin-left: 0px;
}
.sidebarListItem[data-status="2"] .listItemIcon {
	border-left: 4px solid #DB6538;
	margin-left: 0px;
}
.sidebarListItem[data-status="3"] .listItemIcon {
	border-left: 4px solid #94E8F8;
	margin-left: 0px;
}
.sidebarListItem[data-status="room"] .listItemIcon {
	margin-left: 4px;
}
.sidebarListItem[data-status="0"] .listItemTitle, .sidebarListItem[data-status="4"] .listItemTitle {
	color: #7C7C7C;
}
.sidebarListItem .listItemTitle {
	margin-left: 5px;
	font-weight: bold;
	display: inline-block;
	width: 1px; /* trick */
	white-space: nowrap;
	color: #333;
}
.sidebarListItem .listItemPinned {
	position: relative;
	left: -7px;
	top: -8px;
	width: 0px;
	transform: rotate(38deg);
	-webkit-transform: rotate(38deg);
	font-size: 90%;
	color: #696969;
}
.sidebarListItem .listItemSubtitle {
	margin-left: 5px;
	color: #777;
	position: relative;
	top: -4px;
	font-size: 90%;
}
.sidebarListItem .unreadBadge {
	display: none;
	float: right;
	display: none;
	color: #FFF;
	font-weight: bold;
	background-color: #FF955A;
	padding: 10px 5px 10px 5px;
	border-left: 1px solid #D83333;
	margin: -3px -4px 0px 0px;
	transition: background-color ease-in 2s;
}
#sidebarSearchInput {
	border-radius: 0px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 90%;
	padding: 5px 0px 5px 8px;
	margin: 0px;
	transition: background-color ease-in 0.2s;
}
#sidebarSearchInput.highlighted {
	background-color: #FFFF81;
}
#mainScreen .sidebarSearch {
	margin-top: 2px;
	margin-bottom: 4px;
	background: #FFF;
}
.sidebarListItem #editProfileIcon {
	font-size: 180%;
	float: right;
	color: #969696;
	margin-top: 3px;
	margin-right: 6px;
	cursor: pointer;
}
#setStatusPopover {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
	max-width: 230px;
}
#myStatusSelect {
	font-size: 110%;
	padding: 4px;
}
.sidebarListItem[data-item="me"] {
	cursor: auto;
}
#editProfileBgColorPicks .bgColorPick {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
	cursor: pointer;
}
#mainScreen .sidebarListItem #editProfileIcon:hover {
	color: #555;
}
#mainScreen .contentTab h2 {
	margin-top: 0px;
}
#mainScreen #mainContent {
	border: 1px solid #C4C4C4;
	float: left;
	margin-left: 0px;
	margin-top: 12px;
	overflow: hidden;
	background-color: #F8FBFC;
}
#mainScreen .contentTab {
	height: 100%;
}
#mainScreen .tab-home, #mainScreen .tab-meta, #mainScreen .tab-gedit {
	padding: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#mainLeftDivider {
	height: 100%;
	width: 10px;
	float: left;
	display:inline-block;
	background-color: none;
	cursor: ew-resize;
}
#mainLeftDivider:active {
	background-color: #000;
	opacity: 0.1;
}
.tab-conv #convHeader {
	background-color: #EEE;
	border-bottom: 1px solid #B6B6B6;
	min-height: 72px;
}
.tab-conv #convPicture {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 1px solid #CCC;
	border-spacing: 1px;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 5px;
}
#convPicture[data-status="0"], #convPicture[data-status="4"] {
	border-left: 5px solid #CACACA;
}
#convPicture[data-status="1"] {
	border-left: 5px solid #42CC28;
}
#convPicture[data-status="2"] {
	border-left: 5px solid #DB6538;
}
#convPicture[data-status="3"] {
	border-left: 5px solid #94E8F8;
}
.tab-conv #convTitle {
	padding: 4px 0px 3px 80px;
	overflow-y: auto;
}
.tab-conv #convDisplayName {
	float: left;
	font-size: 150%;
	margin-top: 4px;
	display: inline-block;	
}
.tab-conv #convSubtitle {
	padding: 7px 0px 2px 80px;
}
.tab-conv #convPicture.hide ~ #convTitle {
	padding-left: 10px;
}
.tab-conv #convPicture.hide ~ #convSubtitle {
	padding-left: 10px;
	font-size: 95%;
}
.tab-conv #convButtons {
	float: right;
	margin-right: 5px;
}
.addContactPopover {
	width: 214px;
}
.addContactPopover .popoverContent textarea {
	height: 65px;
	width: 200px;
}
.hintMessage {
	margin-top: 4px;
	margin-bottom: 4px;
	color: #777;
}
#convBody #convText {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px 0px 6px 0px;
	overflow-y: scroll;
	font-size: 95%;
}
.convMessage {
	padding: 0px 10px 2px 25px;
	position: relative;
}
.convMessage .messageInfo {
	display: none;
	margin-left: 3px;
	cursor: pointer;
}
.convMessage:hover .messageInfo {
	display: inline-block;
}
.convMessage.myMessage {
	color: #5C5C5C;
}
.convMessage.newDivider {
	border-top: 1px solid rgba(201, 213, 242, 1);
	padding-top: 4px;
}
.convMessage.smallMessage {
	font-size: 80%;
	color: #777;
}
.convMessage > .convMessageUser {
	display: inline-block;
	float: left;
	width: 115px;
	height: 18px;
	font-size: 90%;
	overflow: hidden;
}
.convMessage > .convMessageContent {
	display: inline-block;
	max-height: 200px;
	overflow: auto;
}
.convMessage > .convMessageContent.edited:after {
	content: "edited";
	margin-left: 4px;
	font-weight: bold;
	font-size: 80%;
	font-style: italic;
}
.convMessage > .convMessageMeta {
	display: inline-block;
	float: right;
	width: 59px;
	font-size: 85%;
	color: #929292;
}
.convMessage > .convMessageActions {
	display: none;
	position: absolute;
	right: 73px;
	margin-top: -1px;
}
.convMessage:hover > .convMessageActions, .convMessageActions.show {
	display: inline-block;
}
.convMessageActions > .messageEditButton {

}
.convMessageActions > .messageEditCancelButton {
	background-color: #FC9287;
	color: #FFF;
}
.convMessageActions > .messageEditCancelButton:hover {
	background-color: #F36F6F;
}
.tinyButton {
	display: inline-block;
	font-size: 85%;
	background-color: #FAFAFA;
	padding: 2px 4px 2px 4px;
	border-radius: 5px;
	border: 1px solid #CCC;
	cursor: pointer;
}
.tinyButton:hover {
	background-color: #FFFFFF;
}
.convMessage > .convMessageContent > textarea.messageEditArea {
	width: 99%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 25px;
	margin: 0;
}
#convText.hideMeta > .convMessage > .convMessageMeta {
	display: none;
}
#convText.hideMeta > .convMessage:hover > .convMessageMeta {
	position: absolute;
	display: inline-block;
	top: 3px;
	right: 4px;
}
.convMessage > .newOrb {
	background-color: #F0884D;
	width: 6px;
	height: 6px;
	display: inline-block;
	opacity: 0;
	float: left;
	border-radius: 100px;
	margin-left: -14px;
	margin-top: 7px;
	transition: opacity cubic-bezier(1, 0, .84, 0) 4s;
}
.convMessage[data-unread='true'] > .newOrb {
	opacity: 1;
}
.lapseDivider {
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: bold;
	color: #858585;
}
#convFooterLeft {
	display: inline-block;
	float: left;
	width: 100px;
	margin-right: 40px;
}
#encInfo {
	margin-top: 20px;
	margin-left: 25px;
	font-size: 85%;
	color: #646464;
	cursor: pointer;
}
#encKey {
	font-size: 75%;
	color: #289B3F;
	background-color: #EAFFEE;
}
#encInfoPopover > .popoverContent {
	max-width: 175px;
	font-size: 90%;
}
#encInfo .fa {
	color: #B8B8B8;
}
#convFooterMiddle {
	display: inline-block;
}
#convTyping {
	font-size: 80%;
	color: #888;
	height: 15px;
}
.readMarker {
	border-top: 1px dotted #E68319;
	margin: 1px 0px 1px 0px;
	border-bottom: 1px dotted #FFB25F;
}
#convInput {
	height: 33px;
	width: 500px;
	resize: horizontal;
	vertical-align: top;
}
#convEmoticon {
	color: #5C5C5C;
	margin-top: 4px;
	margin-left: 3px;
	cursor: pointer;
}
#convEmoticon:hover {
	color: #000;
}
#emojiPicker {
	width: 175px;
}
#emojiPicker .emoji {
	margin: 0 3px 3px 0;
	cursor: pointer;
}
#convFooter {
	background: #F7F7F7;
	border-top: 1px solid #DADADA;
}
#bufferLoading {
	font-size: 125%;
	text-align: center;
	color: #C5C5C5;
}
#bufferMore	{
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 8px;
	font-size: 80%;
}
#bufferMore > span {
	color: #888;
	margin-right: 4px;
}
.menuHeader {
	height: 18px;
}
#permissionGuide {
	position: absolute;
	top: 30%;
	left: 30%;
	color: #FFFFFF;
	z-index: -100;
	font-size: 200%;
	left: 30%;
}
#editProfileHeader, #editProfileBack {
	position: absolute;
}
#roomInviteMenu, #roomEditMenu {
	height: 100%;
}
#roomInviteUserlist {
	max-height: 200px;
	min-height: 50px;
	height: 50%;
	margin-top: 10px;
}
.userListElement {
	overflow-y: auto;
	cursor: pointer;
	width: 170px;
	display: inline-block;
	padding: 3px;
	margin-right: 10px;
}
.userListElement:hover {
	background-color: #EEE;
}
.userListElement.selected {
	background-color: #E7E7E7;
}
.userListElement.invited {
	opacity: 0.5;
	cursor: auto;
}
.userListElement.invited:hover {
	background-color: inherit;
}
.userListIcon {
	height: 32px;
	width: 32px;
	float: left;
	margin-right: 4px;
}
.userListElement .inviteMsg {
	color: #666;
	position: relative;
	top: -2px;
}
#convSubtitleUsersList {
	display: inline-block;
}
#convSubtitleUsersMore {
	display: inline;
	font-size: 90%;
	font-weight: bold;
	margin-left: 10px;
}
#usersMorePopoverContent {
	max-height: 275px;
	min-width: 180px;
}
.userKickLink, .userRankLink {
	float: right;
	margin-right: 4px;
}
span[data-rank="2"]:before, a[data-rank="2"]:before {
	content: "M";
}
span[data-rank="4"]:before, a[data-rank="4"]:before {
	content: "A";
}
span[data-rank="9"]:before, a[data-rank="9"]:before {
	content: "S";
}
span[data-rank]:before, a[data-rank]:before {
	margin-right: 2px;
	color: #35AC3A;
	font-weight: bold;
}
#voiceActive {
	min-height: 20px;
	background-color: #42CC28;
	border-bottom: 1px solid #3D7C31;
	color: #FFFFFF;
	overflow-y: auto;
}
#voiceActive.video {
	/* background-color: #485ABD; debate on this */
}
.activeContent {
	padding: 10px 10px 10px 16px;
	display: inline-block;
}
@-webkit-keyframes blink { from { color: rgba(255,255,255,1); } to { color: rgba(255,255,255,0); } }
@keyframes blink { from { color: rgba(255,255,255,1); } to { color: rgba(255,255,255,0); } }
@-webkit-keyframes semiblink { from { color: rgba(255,255,255,1); } to { color: rgba(255,255,255,0.5); } }
@keyframes semiblink { from { color: rgba(255,255,255,1); } to { color: rgba(255,255,255,0.5); } }
.blink {
	-webkit-animation: blink 1s ease-in infinite;
	-webkit-animation-direction: alternate;
	animation: blink 1s ease-in infinite;
	animation-direction: alternate;
}
.semiblink {
	-webkit-animation: semiblink 0.8s ease-in infinite;
	-webkit-animation-direction: alternate;
	animation: semiblink 0.8s ease-in infinite;
	animation-direction: alternate;
}
#voiceIcon,#videoIcon {
	font-size: 200%;
	color: rgba(255,255,255,1);
	transition: color 0.27s ease-in-out;
	float: left;
}
#voiceIncomingText,#voiceRingingText,#voiceIncallText,#voiceGroupText{
	margin-left: 10px;
	font-size: 160%;
}
#voiceAccept {
	display: inline-block;
	background-color: #3FBB33;
	font-size: 135%;
	padding: 12px 10px 13px 10px;
	margin-left: 20px;
	cursor: pointer;
}
#voiceAccept:hover {
	background-color: #3F8F37;
}
#voiceDrop,#activeCancel,#voiceUsers {
	display: inline-block;
	background-color: #3FBB33;
	font-size: 135%;
	padding: 12px 10px 13px 10px;
	margin-left: 10px;
	cursor: pointer;
}
#voiceDrop:hover {
	background-color: #DD2E2E;
}
#voiceControls {
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
}
#voiceMute, #videoMute {
	font-size: 150%;
	width: 30px;
	text-align: center;
	color: #E9E9E9;
	display: inline-block;
}
#voiceMute:hover, #videoMute:hover {
	color: #FFFFFF;
}
#voiceMuteOn, #videoMuteOn {
	display: none;
}
#voiceMute.on, #videoMute.on {
	border-bottom: 3px solid #156D2E;
}
#voiceMute.on > #voiceMuteOff, #videoMute.on > #videoMuteOff {
	display: none;
}
#voiceMute.on > #voiceMuteOn, #videoMute.on > #videoMuteOn {
	display: inline-block;
}
.inCallSubtitle {
	font-weight: bold;
	color: #4BAC1D;
	text-shadow: 0px 0px 3px #FFF;
}
#header #headerLogo {
	left: 50%;
	margin-top: 2px;
	margin-left: -61px;
	position: absolute;
	height: 32px;
}
#headerControls {
	font-size: 140%;
	float: right;
	margin-right: 8px;
}
#headerControls span {
	margin-left: 4px;
}
#logoutBtn .fa {
	margin-top: 6px;
	color: #60626F;
	cursor: pointer;
}
#logoutBtn .fa:hover {
	color: #000;
}
#settingsBtn .fa {
	margin-top: 6px;
	color: #60626F;
	cursor: pointer;
}
#settingsBtn .fa:hover {
	color: #000;
}
.videoPanel {
	background-color: #91D869;
	position: absolute;
	min-height: 100px;
	min-width: 125px;
	height: 300px;
	width: 400px;
	border-radius: 7px;
	cursor: move;
	resize: both;
	overflow: hidden;
	padding: 5px;
}
.videoPanel.small {
	height: 120px;
	width: 160px;
	z-index: 9999;
}
.videoPanel.medium {
	height: 200px;
	width: 267px;
	z-index: 9999;
}
.videoPanel > video {
	height: 100%;
	width: 100%;
	background-color: #EEE;
	object-fit: initial;
}
.videoPanel:hover > .videoPanelActions {
	display: block;
}
.videoPanelActions {
	display: none;
	position: relative;
	bottom: 27px;
	height: 24px;
	background-color: #2CB631;
	color: #FFF;
}
.videoPanelActions > .videoName {
	padding: 3px;
	display: inline-block;
}
.videoPanelActions > .videoHangup {
	float: right;
	background-color: #2EB444;
	padding: 3px 5px 3px 3px;
	cursor: pointer;
}
.videoPanelActions > .videoHangup:hover {
	background-color: #DD2E2E;
}
#verifyKeyHash > #main {
	font-size: 200%;
}
#verifyKeyHash > #tiny {
	font-size: 60%;
}
p.userRankDesc {
	display: none;
}
#quickstart {
	background-image: url("../img/paper.jpg");
	min-height: 250px;
	min-width: 500px;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 12px;
	float: left;
	margin-right: 18px;
}
#quickstart h3 {
	width: 100%;
	background-color: #9BC3FF;
	color: #FFF;
	font-weight: bold;
	margin-top: 0px;
	padding: 6px 0px 6px 11px;
	box-sizing: border-box;
	border-radius: 5px 5px 0px 0px;
	-moz-box-sizing: border-box;
}
#quickstart #qs1m, #quickstart #qs2m {
	float: left;
	margin: 15px 15px 0px 13px;
	border: 1px solid #868686;
}
#quickstart #qst {
	font-size: 175%;
	margin-top: 20px;
	display: inline-block;
}
#quickstartLink {
	font-size: 85%;
	color: #363636;
	width: 125px;
}
#quickstartSearchTip {
	border-bottom: 1px dashed #F6A222;
}
#mediaTest {
	margin-top: 10px;
	border: 1px solid #B3B3B3;
	padding: 8px;
	border-radius: 3px;
}
#mediaTest .close:after {
	margin-right: 0px;
}
#mediaTestHelpText {
	width: 128px;
	font-size: 80%;
	display: inline-block;
	margin: 0px;
	vertical-align: top;
}
#mediaTestVideo {
	width: 125px;
	height: 94px;
}
#mediaTestAudio {
	height: 94px;
	display: inline-block;
	vertical-align: top;
	width: 80px;
	padding: 0px 10px 0px 10px;
}
#mediaTestAudio i.fa {
	font-size: 450%;
	margin-top: 10px;
	margin-left: 19px;
}
#mediaTestAudioBar {
	width: 80px;
	border: 1px solid #5F5F5F;
	height: 10px;
	border-radius: 5px;
}
#mediaTestAudioBar .filling {
	background-color: #7427FC;
	height: 10px;
	border-radius: 3px;
	width: 0px;
}
#errorReportTrace {
	font-size: 80%;
	max-height: 80px;
	overflow: auto;
}
.homeUnit {
	max-width: 550px;
	min-width: 400px;
	width: 50%;
	padding: 0px 7px 0px 7px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
.tab-home {
	overflow: auto;
}
#homeNews > .homeNewsElem {
	margin-bottom: 10px;
}
#homeNews .content {
	display: block;
}
#homeNews .title {	
	font-size: 125%;
}
#homeNews .time {
	font-size: 90%;
	margin-left: 7px;
	color: #919191;
}
#communityButtons a {
	width: 25%;
	float: left;
	text-align: center;
	padding: 6px 0px 6px 0px;
}
#communityButtons a:hover {
	text-decoration: none;
	color: #FFF !important;
}
#communityButtons a i {
	font-size: 250%;
	text-align: center;
}
#communityButtons > #help {
	color: #3696C4;
}
#communityButtons > #help:hover {
	background-color: #3696C4;
}
#communityButtons > #website {
	color: #8F18DF;
}
#communityButtons > #website:hover {
	background-color: #8F18DF;
}
#communityButtons > #source {
	color: #18DF18;
}
#communityButtons > #source:hover {
	background-color: #18DF18;
}
#communityButtons > #donate {
	color: #EC3F6F;
}
#communityButtons > #donate:hover {
	background-color: #EC3F6F;
}
