.emoji {
	background-image: url('../img/emoji-sprite.png');
	display: inline-block;
	width: 21px;
	height: 21px;
	vertical-align: bottom;
}
.emoji.emoji-100 { background-position: 0 0; }
.emoji.emoji-111 { background-position: 0 -21px; }
.emoji.emoji-1234 { background-position: 0 -42px; }
.emoji.emoji-222 { background-position: 0 -63px; }
.emoji.emoji-8ball { background-position: 0 -84px; }
.emoji.emoji-a { background-position: 0 -105px; }
.emoji.emoji-ab { background-position: 0 -126px; }
.emoji.emoji-abc { background-position: 0 -147px; }
.emoji.emoji-abcd { background-position: 0 -168px; }
.emoji.emoji-accept { background-position: 0 -189px; }
.emoji.emoji-aerial_tramway { background-position: 0 -210px; }
.emoji.emoji-airplane { background-position: 0 -231px; }
.emoji.emoji-alarm_clock { background-position: 0 -252px; }
.emoji.emoji-alien { background-position: 0 -273px; }
.emoji.emoji-ambulance { background-position: 0 -294px; }
.emoji.emoji-anchor { background-position: 0 -315px; }
.emoji.emoji-angel { background-position: 0 -336px; }
.emoji.emoji-anger { background-position: 0 -357px; }
.emoji.emoji-angry { background-position: 0 -378px; }
.emoji.emoji-anguished { background-position: 0 -399px; }
.emoji.emoji-ant { background-position: 0 -420px; }
.emoji.emoji-apple { background-position: 0 -441px; }
.emoji.emoji-aquarius { background-position: 0 -462px; }
.emoji.emoji-aries { background-position: 0 -483px; }
.emoji.emoji-arrow_backward { background-position: 0 -504px; }
.emoji.emoji-arrow_double_down { background-position: 0 -525px; }
.emoji.emoji-arrow_double_up { background-position: 0 -546px; }
.emoji.emoji-arrow_down { background-position: 0 -567px; }
.emoji.emoji-arrow_down_small { background-position: 0 -588px; }
.emoji.emoji-arrow_forward { background-position: 0 -609px; }
.emoji.emoji-arrow_heading_down { background-position: 0 -630px; }
.emoji.emoji-arrow_heading_up { background-position: 0 -651px; }
.emoji.emoji-arrow_left { background-position: 0 -672px; }
.emoji.emoji-arrow_lower_left { background-position: 0 -693px; }
.emoji.emoji-arrow_lower_right { background-position: 0 -714px; }
.emoji.emoji-arrow_right { background-position: 0 -735px; }
.emoji.emoji-arrow_right_hook { background-position: 0 -756px; }
.emoji.emoji-arrow_up { background-position: 0 -777px; }
.emoji.emoji-arrow_up_down { background-position: 0 -798px; }
.emoji.emoji-arrow_up_small { background-position: 0 -819px; }
.emoji.emoji-arrow_upper_left { background-position: 0 -840px; }
.emoji.emoji-arrow_upper_right { background-position: 0 -861px; }
.emoji.emoji-arrows_clockwise { background-position: 0 -882px; }
.emoji.emoji-arrows_counterclockwise { background-position: 0 -903px; }
.emoji.emoji-art { background-position: 0 -924px; }
.emoji.emoji-articulated_lorry { background-position: 0 -945px; }
.emoji.emoji-astonished { background-position: 0 -966px; }
.emoji.emoji-atm { background-position: 0 -987px; }
.emoji.emoji-b { background-position: 0 -1008px; }
.emoji.emoji-baby { background-position: 0 -1029px; }
.emoji.emoji-baby_bottle { background-position: 0 -1050px; }
.emoji.emoji-baby_chick { background-position: 0 -1071px; }
.emoji.emoji-baby_symbol { background-position: 0 -1092px; }
.emoji.emoji-baggage_claim { background-position: 0 -1113px; }
.emoji.emoji-balloon { background-position: 0 -1134px; }
.emoji.emoji-ballot_box_with_check { background-position: 0 -1155px; }
.emoji.emoji-bamboo { background-position: 0 -1176px; }
.emoji.emoji-banana { background-position: 0 -1197px; }
.emoji.emoji-bangbang { background-position: 0 -1218px; }
.emoji.emoji-bank { background-position: 0 -1239px; }
.emoji.emoji-bar_chart { background-position: 0 -1260px; }
.emoji.emoji-barber { background-position: 0 -1281px; }
.emoji.emoji-baseball { background-position: 0 -1302px; }
.emoji.emoji-basketball { background-position: 0 -1323px; }
.emoji.emoji-bath { background-position: 0 -1344px; }
.emoji.emoji-bathtub { background-position: 0 -1365px; }
.emoji.emoji-battery { background-position: 0 -1386px; }
.emoji.emoji-bear { background-position: 0 -1407px; }
.emoji.emoji-bee { background-position: 0 -1428px; }
.emoji.emoji-beer { background-position: 0 -1449px; }
.emoji.emoji-beers { background-position: 0 -1470px; }
.emoji.emoji-beetle { background-position: 0 -1491px; }
.emoji.emoji-beginner { background-position: 0 -1512px; }
.emoji.emoji-bell { background-position: 0 -1533px; }
.emoji.emoji-bento { background-position: 0 -1554px; }
.emoji.emoji-bicyclist { background-position: 0 -1575px; }
.emoji.emoji-bike { background-position: 0 -1596px; }
.emoji.emoji-bikini { background-position: 0 -1617px; }
.emoji.emoji-bird { background-position: 0 -1638px; }
.emoji.emoji-birthday { background-position: 0 -1659px; }
.emoji.emoji-black_circle { background-position: 0 -1680px; }
.emoji.emoji-black_joker { background-position: 0 -1701px; }
.emoji.emoji-black_nib { background-position: 0 -1722px; }
.emoji.emoji-black_square { background-position: 0 -1743px; }
.emoji.emoji-black_square_button { background-position: 0 -1764px; }
.emoji.emoji-blossom { background-position: 0 -1785px; }
.emoji.emoji-blowfish { background-position: 0 -1806px; }
.emoji.emoji-blue_book { background-position: 0 -1827px; }
.emoji.emoji-blue_car { background-position: 0 -1848px; }
.emoji.emoji-blue_heart { background-position: 0 -1869px; }
.emoji.emoji-blush { background-position: 0 -1890px; }
.emoji.emoji-boar { background-position: 0 -1911px; }
.emoji.emoji-boat { background-position: 0 -1932px; }
.emoji.emoji-bomb { background-position: 0 -1953px; }
.emoji.emoji-book { background-position: 0 -1974px; }
.emoji.emoji-bookmark { background-position: 0 -1995px; }
.emoji.emoji-bookmark_tabs { background-position: 0 -2016px; }
.emoji.emoji-books { background-position: 0 -2037px; }
.emoji.emoji-boom { background-position: 0 -2058px; }
.emoji.emoji-boot { background-position: 0 -2079px; }
.emoji.emoji-bouquet { background-position: 0 -2100px; }
.emoji.emoji-bow { background-position: 0 -2121px; }
.emoji.emoji-bowling { background-position: 0 -2142px; }
.emoji.emoji-bowtie { background-position: 0 -2163px; }
.emoji.emoji-boy { background-position: 0 -2184px; }
.emoji.emoji-bread { background-position: 0 -2205px; }
.emoji.emoji-bride_with_veil { background-position: 0 -2226px; }
.emoji.emoji-bridge_at_night { background-position: 0 -2247px; }
.emoji.emoji-briefcase { background-position: 0 -2268px; }
.emoji.emoji-broken_heart { background-position: 0 -2289px; }
.emoji.emoji-bug { background-position: 0 -2310px; }
.emoji.emoji-bulb { background-position: 0 -2331px; }
.emoji.emoji-bullettrain_front { background-position: 0 -2352px; }
.emoji.emoji-bullettrain_side { background-position: 0 -2373px; }
.emoji.emoji-bus { background-position: 0 -2394px; }
.emoji.emoji-busstop { background-position: 0 -2415px; }
.emoji.emoji-bust_in_silhouette { background-position: 0 -2436px; }
.emoji.emoji-busts_in_silhouette { background-position: 0 -2457px; }
.emoji.emoji-cactus { background-position: 0 -2478px; }
.emoji.emoji-cake { background-position: 0 -2499px; }
.emoji.emoji-calendar { background-position: 0 -2520px; }
.emoji.emoji-calling { background-position: 0 -2541px; }
.emoji.emoji-camel { background-position: 0 -2562px; }
.emoji.emoji-camera { background-position: 0 -2583px; }
.emoji.emoji-cancer { background-position: 0 -2604px; }
.emoji.emoji-candy { background-position: 0 -2625px; }
.emoji.emoji-capital_abcd { background-position: 0 -2646px; }
.emoji.emoji-capricorn { background-position: 0 -2667px; }
.emoji.emoji-car { background-position: 0 -2688px; }
.emoji.emoji-card_index { background-position: 0 -2709px; }
.emoji.emoji-carousel_horse { background-position: 0 -2730px; }
.emoji.emoji-cat { background-position: 0 -2751px; }
.emoji.emoji-cat2 { background-position: 0 -2772px; }
.emoji.emoji-cd { background-position: 0 -2793px; }
.emoji.emoji-chart { background-position: 0 -2814px; }
.emoji.emoji-chart_with_downwards_trend { background-position: 0 -2835px; }
.emoji.emoji-chart_with_upwards_trend { background-position: 0 -2856px; }
.emoji.emoji-checkered_flag { background-position: 0 -2877px; }
.emoji.emoji-cherries { background-position: 0 -2898px; }
.emoji.emoji-cherry_blossom { background-position: 0 -2919px; }
.emoji.emoji-chestnut { background-position: 0 -2940px; }
.emoji.emoji-chicken { background-position: 0 -2961px; }
.emoji.emoji-children_crossing { background-position: 0 -2982px; }
.emoji.emoji-chocolate_bar { background-position: 0 -3003px; }
.emoji.emoji-christmas_tree { background-position: 0 -3024px; }
.emoji.emoji-church { background-position: 0 -3045px; }
.emoji.emoji-cinema { background-position: 0 -3066px; }
.emoji.emoji-circus_tent { background-position: 0 -3087px; }
.emoji.emoji-city_sunrise { background-position: 0 -3108px; }
.emoji.emoji-city_sunset { background-position: 0 -3129px; }
.emoji.emoji-cl { background-position: 0 -3150px; }
.emoji.emoji-clap { background-position: 0 -3171px; }
.emoji.emoji-clapper { background-position: 0 -3192px; }
.emoji.emoji-clipboard { background-position: 0 -3213px; }
.emoji.emoji-clock1 { background-position: 0 -3234px; }
.emoji.emoji-clock10 { background-position: 0 -3255px; }
.emoji.emoji-clock1030 { background-position: 0 -3276px; }
.emoji.emoji-clock11 { background-position: 0 -3297px; }
.emoji.emoji-clock1130 { background-position: 0 -3318px; }
.emoji.emoji-clock12 { background-position: 0 -3339px; }
.emoji.emoji-clock1230 { background-position: 0 -3360px; }
.emoji.emoji-clock130 { background-position: 0 -3381px; }
.emoji.emoji-clock2 { background-position: 0 -3402px; }
.emoji.emoji-clock230 { background-position: 0 -3423px; }
.emoji.emoji-clock3 { background-position: 0 -3444px; }
.emoji.emoji-clock330 { background-position: 0 -3465px; }
.emoji.emoji-clock4 { background-position: 0 -3486px; }
.emoji.emoji-clock430 { background-position: 0 -3507px; }
.emoji.emoji-clock5 { background-position: 0 -3528px; }
.emoji.emoji-clock530 { background-position: 0 -3549px; }
.emoji.emoji-clock6 { background-position: 0 -3570px; }
.emoji.emoji-clock630 { background-position: 0 -3591px; }
.emoji.emoji-clock7 { background-position: 0 -3612px; }
.emoji.emoji-clock730 { background-position: 0 -3633px; }
.emoji.emoji-clock8 { background-position: 0 -3654px; }
.emoji.emoji-clock830 { background-position: 0 -3675px; }
.emoji.emoji-clock9 { background-position: 0 -3696px; }
.emoji.emoji-clock930 { background-position: 0 -3717px; }
.emoji.emoji-closed_book { background-position: 0 -3738px; }
.emoji.emoji-closed_lock_with_key { background-position: 0 -3759px; }
.emoji.emoji-closed_umbrella { background-position: 0 -3780px; }
.emoji.emoji-cloud { background-position: 0 -3801px; }
.emoji.emoji-clubs { background-position: 0 -3822px; }
.emoji.emoji-cn { background-position: 0 -3843px; }
.emoji.emoji-cocktail { background-position: 0 -3864px; }
.emoji.emoji-coffee { background-position: 0 -3885px; }
.emoji.emoji-cold_sweat { background-position: 0 -3906px; }
.emoji.emoji-collision { background-position: 0 -3927px; }
.emoji.emoji-computer { background-position: 0 -3948px; }
.emoji.emoji-confetti_ball { background-position: 0 -3969px; }
.emoji.emoji-confounded { background-position: 0 -3990px; }
.emoji.emoji-confused { background-position: 0 -4011px; }
.emoji.emoji-congratulations { background-position: 0 -4032px; }
.emoji.emoji-construction { background-position: 0 -4053px; }
.emoji.emoji-construction_worker { background-position: 0 -4074px; }
.emoji.emoji-convenience_store { background-position: 0 -4095px; }
.emoji.emoji-cookie { background-position: 0 -4116px; }
.emoji.emoji-cool { background-position: 0 -4137px; }
.emoji.emoji-cop { background-position: 0 -4158px; }
.emoji.emoji-copyright { background-position: 0 -4179px; }
.emoji.emoji-corn { background-position: 0 -4200px; }
.emoji.emoji-couple { background-position: 0 -4221px; }
.emoji.emoji-couple_with_heart { background-position: 0 -4242px; }
.emoji.emoji-couplekiss { background-position: 0 -4263px; }
.emoji.emoji-cow { background-position: 0 -4284px; }
.emoji.emoji-cow2 { background-position: 0 -4305px; }
.emoji.emoji-credit_card { background-position: 0 -4326px; }
.emoji.emoji-crocodile { background-position: 0 -4347px; }
.emoji.emoji-crossed_flags { background-position: 0 -4368px; }
.emoji.emoji-crown { background-position: 0 -4389px; }
.emoji.emoji-cry { background-position: 0 -4410px; }
.emoji.emoji-crying_cat_face { background-position: 0 -4431px; }
.emoji.emoji-crystal_ball { background-position: 0 -4452px; }
.emoji.emoji-cupid { background-position: 0 -4473px; }
.emoji.emoji-curly_loop { background-position: 0 -4494px; }
.emoji.emoji-currency_exchange { background-position: 0 -4515px; }
.emoji.emoji-curry { background-position: 0 -4536px; }
.emoji.emoji-custard { background-position: 0 -4557px; }
.emoji.emoji-customs { background-position: 0 -4578px; }
.emoji.emoji-cyclone { background-position: 0 -4599px; }
.emoji.emoji-dancer { background-position: 0 -4620px; }
.emoji.emoji-dancers { background-position: 0 -4641px; }
.emoji.emoji-dango { background-position: 0 -4662px; }
.emoji.emoji-dart { background-position: 0 -4683px; }
.emoji.emoji-dash { background-position: 0 -4704px; }
.emoji.emoji-date { background-position: 0 -4725px; }
.emoji.emoji-de { background-position: 0 -4746px; }
.emoji.emoji-deciduous_tree { background-position: 0 -4767px; }
.emoji.emoji-department_store { background-position: 0 -4788px; }
.emoji.emoji-diamond_shape_with_a_dot_inside { background-position: 0 -4809px; }
.emoji.emoji-diamonds { background-position: 0 -4830px; }
.emoji.emoji-disappointed { background-position: 0 -4851px; }
.emoji.emoji-disappointed_relieved { background-position: 0 -4872px; }
.emoji.emoji-dizzy { background-position: 0 -4893px; }
.emoji.emoji-dizzy_face { background-position: 0 -4914px; }
.emoji.emoji-do_not_litter { background-position: 0 -4935px; }
.emoji.emoji-dog { background-position: 0 -4956px; }
.emoji.emoji-dog2 { background-position: 0 -4977px; }
.emoji.emoji-dollar { background-position: 0 -4998px; }
.emoji.emoji-dolls { background-position: 0 -5019px; }
.emoji.emoji-dolphin { background-position: 0 -5040px; }
.emoji.emoji-donut { background-position: 0 -5061px; }
.emoji.emoji-door { background-position: 0 -5082px; }
.emoji.emoji-doughnut { background-position: 0 -5103px; }
.emoji.emoji-dragon { background-position: 0 -5124px; }
.emoji.emoji-dragon_face { background-position: 0 -5145px; }
.emoji.emoji-dress { background-position: 0 -5166px; }
.emoji.emoji-dromedary_camel { background-position: 0 -5187px; }
.emoji.emoji-droplet { background-position: 0 -5208px; }
.emoji.emoji-dvd { background-position: 0 -5229px; }
.emoji.emoji-e-mail { background-position: 0 -5250px; }
.emoji.emoji-ear { background-position: 0 -5271px; }
.emoji.emoji-ear_of_rice { background-position: 0 -5292px; }
.emoji.emoji-earth_africa { background-position: 0 -5313px; }
.emoji.emoji-earth_americas { background-position: 0 -5334px; }
.emoji.emoji-earth_asia { background-position: 0 -5355px; }
.emoji.emoji-egg { background-position: 0 -5376px; }
.emoji.emoji-eggplant { background-position: 0 -5397px; }
.emoji.emoji-eight { background-position: 0 -5418px; }
.emoji.emoji-eight_pointed_black_star { background-position: 0 -5439px; }
.emoji.emoji-eight_spoked_asterisk { background-position: 0 -5460px; }
.emoji.emoji-electric_plug { background-position: 0 -5481px; }
.emoji.emoji-elephant { background-position: 0 -5502px; }
.emoji.emoji-email { background-position: 0 -5523px; }
.emoji.emoji-end { background-position: 0 -5544px; }
.emoji.emoji-envelope { background-position: 0 -5565px; }
.emoji.emoji-es { background-position: 0 -5586px; }
.emoji.emoji-euro { background-position: 0 -5607px; }
.emoji.emoji-european_castle { background-position: 0 -5628px; }
.emoji.emoji-european_post_office { background-position: 0 -5649px; }
.emoji.emoji-evergreen_tree { background-position: 0 -5670px; }
.emoji.emoji-exclamation { background-position: 0 -5691px; }
.emoji.emoji-expressionless { background-position: 0 -5712px; }
.emoji.emoji-eyeglasses { background-position: 0 -5733px; }
.emoji.emoji-eyes { background-position: 0 -5754px; }
.emoji.emoji-facepunch { background-position: 0 -5775px; }
.emoji.emoji-factory { background-position: 0 -5796px; }
.emoji.emoji-fallen_leaf { background-position: 0 -5817px; }
.emoji.emoji-family { background-position: 0 -5838px; }
.emoji.emoji-fast_forward { background-position: 0 -5859px; }
.emoji.emoji-fax { background-position: 0 -5880px; }
.emoji.emoji-fearful { background-position: 0 -5901px; }
.emoji.emoji-feelsgood { background-position: 0 -5922px; }
.emoji.emoji-feet { background-position: 0 -5943px; }
.emoji.emoji-ferris_wheel { background-position: 0 -5964px; }
.emoji.emoji-file_folder { background-position: 0 -5985px; }
.emoji.emoji-finnadie { background-position: 0 -6006px; }
.emoji.emoji-fire { background-position: 0 -6027px; }
.emoji.emoji-fire_engine { background-position: 0 -6048px; }
.emoji.emoji-fireworks { background-position: 0 -6069px; }
.emoji.emoji-first_quarter_moon { background-position: 0 -6090px; }
.emoji.emoji-first_quarter_moon_with_face { background-position: 0 -6111px; }
.emoji.emoji-fish { background-position: 0 -6132px; }
.emoji.emoji-fish_cake { background-position: 0 -6153px; }
.emoji.emoji-fishing_pole_and_fish { background-position: 0 -6174px; }
.emoji.emoji-fist { background-position: 0 -6195px; }
.emoji.emoji-five { background-position: 0 -6216px; }
.emoji.emoji-flags { background-position: 0 -6237px; }
.emoji.emoji-flashlight { background-position: 0 -6258px; }
.emoji.emoji-floppy_disk { background-position: 0 -6279px; }
.emoji.emoji-flower_playing_cards { background-position: 0 -6300px; }
.emoji.emoji-flushed { background-position: 0 -6321px; }
.emoji.emoji-foggy { background-position: 0 -6342px; }
.emoji.emoji-football { background-position: 0 -6363px; }
.emoji.emoji-fork_and_knife { background-position: 0 -6384px; }
.emoji.emoji-fountain { background-position: 0 -6405px; }
.emoji.emoji-four { background-position: 0 -6426px; }
.emoji.emoji-four_leaf_clover { background-position: 0 -6447px; }
.emoji.emoji-fr { background-position: 0 -6468px; }
.emoji.emoji-free { background-position: 0 -6489px; }
.emoji.emoji-fried_shrimp { background-position: 0 -6510px; }
.emoji.emoji-fries { background-position: 0 -6531px; }
.emoji.emoji-frog { background-position: 0 -6552px; }
.emoji.emoji-frowning { background-position: 0 -6573px; }
.emoji.emoji-fu { background-position: 0 -6594px; }
.emoji.emoji-fuelpump { background-position: 0 -6615px; }
.emoji.emoji-full_moon { background-position: 0 -6636px; }
.emoji.emoji-full_moon_with_face { background-position: 0 -6657px; }
.emoji.emoji-game_die { background-position: 0 -6678px; }
.emoji.emoji-gb { background-position: 0 -6699px; }
.emoji.emoji-gem { background-position: 0 -6720px; }
.emoji.emoji-gemini { background-position: 0 -6741px; }
.emoji.emoji-ghost { background-position: 0 -6762px; }
.emoji.emoji-gift { background-position: 0 -6783px; }
.emoji.emoji-gift_heart { background-position: 0 -6804px; }
.emoji.emoji-girl { background-position: 0 -6825px; }
.emoji.emoji-globe_with_meridians { background-position: 0 -6846px; }
.emoji.emoji-goat { background-position: 0 -6867px; }
.emoji.emoji-goberserk { background-position: 0 -6888px; }
.emoji.emoji-godmode { background-position: 0 -6909px; }
.emoji.emoji-golf { background-position: 0 -6930px; }
.emoji.emoji-grapes { background-position: 0 -6951px; }
.emoji.emoji-green_apple { background-position: 0 -6972px; }
.emoji.emoji-green_book { background-position: 0 -6993px; }
.emoji.emoji-green_heart { background-position: 0 -7014px; }
.emoji.emoji-grey_exclamation { background-position: 0 -7035px; }
.emoji.emoji-grey_question { background-position: 0 -7056px; }
.emoji.emoji-grimacing { background-position: 0 -7077px; }
.emoji.emoji-grin { background-position: 0 -7098px; }
.emoji.emoji-grinning { background-position: 0 -7119px; }
.emoji.emoji-guardsman { background-position: 0 -7140px; }
.emoji.emoji-guitar { background-position: 0 -7161px; }
.emoji.emoji-gun { background-position: 0 -7182px; }
.emoji.emoji-haircut { background-position: 0 -7203px; }
.emoji.emoji-hamburger { background-position: 0 -7224px; }
.emoji.emoji-hammer { background-position: 0 -7245px; }
.emoji.emoji-hamster { background-position: 0 -7266px; }
.emoji.emoji-hand { background-position: 0 -7287px; }
.emoji.emoji-handbag { background-position: 0 -7308px; }
.emoji.emoji-hankey { background-position: 0 -7329px; }
.emoji.emoji-hash { background-position: 0 -7350px; }
.emoji.emoji-hatched_chick { background-position: 0 -7371px; }
.emoji.emoji-hatching_chick { background-position: 0 -7392px; }
.emoji.emoji-headphones { background-position: 0 -7413px; }
.emoji.emoji-hear_no_evil { background-position: 0 -7434px; }
.emoji.emoji-heart { background-position: 0 -7455px; }
.emoji.emoji-heart_decoration { background-position: 0 -7476px; }
.emoji.emoji-heart_eyes { background-position: 0 -7497px; }
.emoji.emoji-heart_eyes_cat { background-position: 0 -7518px; }
.emoji.emoji-heartbeat { background-position: 0 -7539px; }
.emoji.emoji-heartpulse { background-position: 0 -7560px; }
.emoji.emoji-hearts { background-position: 0 -7581px; }
.emoji.emoji-heavy_check_mark { background-position: 0 -7602px; }
.emoji.emoji-heavy_division_sign { background-position: 0 -7623px; }
.emoji.emoji-heavy_dollar_sign { background-position: 0 -7644px; }
.emoji.emoji-heavy_exclamation_mark { background-position: 0 -7665px; }
.emoji.emoji-heavy_minus_sign { background-position: 0 -7686px; }
.emoji.emoji-heavy_multiplication_x { background-position: 0 -7707px; }
.emoji.emoji-heavy_plus_sign { background-position: 0 -7728px; }
.emoji.emoji-helicopter { background-position: 0 -7749px; }
.emoji.emoji-herb { background-position: 0 -7770px; }
.emoji.emoji-hibiscus { background-position: 0 -7791px; }
.emoji.emoji-high_brightness { background-position: 0 -7812px; }
.emoji.emoji-high_heel { background-position: 0 -7833px; }
.emoji.emoji-hocho { background-position: 0 -7854px; }
.emoji.emoji-honey_pot { background-position: 0 -7875px; }
.emoji.emoji-honeybee { background-position: 0 -7896px; }
.emoji.emoji-horse { background-position: 0 -7917px; }
.emoji.emoji-horse_racing { background-position: 0 -7938px; }
.emoji.emoji-hospital { background-position: 0 -7959px; }
.emoji.emoji-hotel { background-position: 0 -7980px; }
.emoji.emoji-hotsprings { background-position: 0 -8001px; }
.emoji.emoji-hourglass { background-position: 0 -8022px; }
.emoji.emoji-hourglass_flowing_sand { background-position: 0 -8043px; }
.emoji.emoji-house { background-position: 0 -8064px; }
.emoji.emoji-house_with_garden { background-position: 0 -8085px; }
.emoji.emoji-hurtrealbad { background-position: 0 -8106px; }
.emoji.emoji-hushed { background-position: 0 -8127px; }
.emoji.emoji-ice_cream { background-position: 0 -8148px; }
.emoji.emoji-icecream { background-position: 0 -8169px; }
.emoji.emoji-id { background-position: 0 -8190px; }
.emoji.emoji-ideograph_advantage { background-position: 0 -8211px; }
.emoji.emoji-imp { background-position: 0 -8232px; }
.emoji.emoji-inbox_tray { background-position: 0 -8253px; }
.emoji.emoji-incoming_envelope { background-position: 0 -8274px; }
.emoji.emoji-information_desk_person { background-position: 0 -8295px; }
.emoji.emoji-information_source { background-position: 0 -8316px; }
.emoji.emoji-innocent { background-position: 0 -8337px; }
.emoji.emoji-interrobang { background-position: 0 -8358px; }
.emoji.emoji-iphone { background-position: 0 -8379px; }
.emoji.emoji-it { background-position: 0 -8400px; }
.emoji.emoji-izakaya_lantern { background-position: 0 -8421px; }
.emoji.emoji-jack_o_lantern { background-position: 0 -8442px; }
.emoji.emoji-japan { background-position: 0 -8463px; }
.emoji.emoji-japanese_castle { background-position: 0 -8484px; }
.emoji.emoji-japanese_goblin { background-position: 0 -8505px; }
.emoji.emoji-japanese_ogre { background-position: 0 -8526px; }
.emoji.emoji-jeans { background-position: 0 -8547px; }
.emoji.emoji-joy { background-position: 0 -8568px; }
.emoji.emoji-joy_cat { background-position: 0 -8589px; }
.emoji.emoji-jp { background-position: 0 -8610px; }
.emoji.emoji-key { background-position: 0 -8631px; }
.emoji.emoji-keycap_ten { background-position: 0 -8652px; }
.emoji.emoji-kimono { background-position: 0 -8673px; }
.emoji.emoji-kiss { background-position: 0 -8694px; }
.emoji.emoji-kissing { background-position: 0 -8715px; }
.emoji.emoji-kissing_cat { background-position: 0 -8736px; }
.emoji.emoji-kissing_closed_eyes { background-position: 0 -8757px; }
.emoji.emoji-kissing_face { background-position: 0 -8778px; }
.emoji.emoji-kissing_heart { background-position: 0 -8799px; }
.emoji.emoji-kissing_smiling_eyes { background-position: 0 -8820px; }
.emoji.emoji-koala { background-position: 0 -8841px; }
.emoji.emoji-koko { background-position: 0 -8862px; }
.emoji.emoji-kr { background-position: 0 -8883px; }
.emoji.emoji-large_blue_circle { background-position: 0 -8904px; }
.emoji.emoji-large_blue_diamond { background-position: 0 -8925px; }
.emoji.emoji-large_orange_diamond { background-position: 0 -8946px; }
.emoji.emoji-last_quarter_moon { background-position: 0 -8967px; }
.emoji.emoji-last_quarter_moon_with_face { background-position: 0 -8988px; }
.emoji.emoji-laughing { background-position: 0 -9009px; }
.emoji.emoji-leaves { background-position: 0 -9030px; }
.emoji.emoji-ledger { background-position: 0 -9051px; }
.emoji.emoji-left_luggage { background-position: 0 -9072px; }
.emoji.emoji-left_right_arrow { background-position: 0 -9093px; }
.emoji.emoji-leftwards_arrow_with_hook { background-position: 0 -9114px; }
.emoji.emoji-lemon { background-position: 0 -9135px; }
.emoji.emoji-leo { background-position: 0 -9156px; }
.emoji.emoji-leopard { background-position: 0 -9177px; }
.emoji.emoji-libra { background-position: 0 -9198px; }
.emoji.emoji-light_rail { background-position: 0 -9219px; }
.emoji.emoji-link { background-position: 0 -9240px; }
.emoji.emoji-lips { background-position: 0 -9261px; }
.emoji.emoji-lipstick { background-position: 0 -9282px; }
.emoji.emoji-lock { background-position: 0 -9303px; }
.emoji.emoji-lock_with_ink_pen { background-position: 0 -9324px; }
.emoji.emoji-lollipop { background-position: 0 -9345px; }
.emoji.emoji-loop { background-position: 0 -9366px; }
.emoji.emoji-loudspeaker { background-position: 0 -9387px; }
.emoji.emoji-love_hotel { background-position: 0 -9408px; }
.emoji.emoji-love_letter { background-position: 0 -9429px; }
.emoji.emoji-low_brightness { background-position: 0 -9450px; }
.emoji.emoji-m { background-position: 0 -9471px; }
.emoji.emoji-mag { background-position: 0 -9492px; }
.emoji.emoji-mag_right { background-position: 0 -9513px; }
.emoji.emoji-mahjong { background-position: 0 -9534px; }
.emoji.emoji-mailbox { background-position: 0 -9555px; }
.emoji.emoji-mailbox_closed { background-position: 0 -9576px; }
.emoji.emoji-mailbox_with_mail { background-position: 0 -9597px; }
.emoji.emoji-mailbox_with_no_mail { background-position: 0 -9618px; }
.emoji.emoji-man { background-position: 0 -9639px; }
.emoji.emoji-man_with_gua_pi_mao { background-position: 0 -9660px; }
.emoji.emoji-man_with_turban { background-position: 0 -9681px; }
.emoji.emoji-mans_shoe { background-position: 0 -9702px; }
.emoji.emoji-maple_leaf { background-position: 0 -9723px; }
.emoji.emoji-mask { background-position: 0 -9744px; }
.emoji.emoji-massage { background-position: 0 -9765px; }
.emoji.emoji-meat_on_bone { background-position: 0 -9786px; }
.emoji.emoji-mega { background-position: 0 -9807px; }
.emoji.emoji-melon { background-position: 0 -9828px; }
.emoji.emoji-memo { background-position: 0 -9849px; }
.emoji.emoji-mens { background-position: 0 -9870px; }
.emoji.emoji-metal { background-position: 0 -9891px; }
.emoji.emoji-metro { background-position: 0 -9912px; }
.emoji.emoji-microphone { background-position: 0 -9933px; }
.emoji.emoji-microscope { background-position: 0 -9954px; }
.emoji.emoji-milky_way { background-position: 0 -9975px; }
.emoji.emoji-minibus { background-position: 0 -9996px; }
.emoji.emoji-minidisc { background-position: 0 -10017px; }
.emoji.emoji-mobile_phone_off { background-position: 0 -10038px; }
.emoji.emoji-money_with_wings { background-position: 0 -10059px; }
.emoji.emoji-moneybag { background-position: 0 -10080px; }
.emoji.emoji-monkey { background-position: 0 -10101px; }
.emoji.emoji-monkey_face { background-position: 0 -10122px; }
.emoji.emoji-monorail { background-position: 0 -10143px; }
.emoji.emoji-moon { background-position: 0 -10164px; }
.emoji.emoji-mortar_board { background-position: 0 -10185px; }
.emoji.emoji-mount_fuji { background-position: 0 -10206px; }
.emoji.emoji-mountain_bicyclist { background-position: 0 -10227px; }
.emoji.emoji-mountain_cableway { background-position: 0 -10248px; }
.emoji.emoji-mountain_railway { background-position: 0 -10269px; }
.emoji.emoji-mouse { background-position: 0 -10290px; }
.emoji.emoji-mouse2 { background-position: 0 -10311px; }
.emoji.emoji-movie_camera { background-position: 0 -10332px; }
.emoji.emoji-moyai { background-position: 0 -10353px; }
.emoji.emoji-muscle { background-position: 0 -10374px; }
.emoji.emoji-mushroom { background-position: 0 -10395px; }
.emoji.emoji-musical_keyboard { background-position: 0 -10416px; }
.emoji.emoji-musical_note { background-position: 0 -10437px; }
.emoji.emoji-musical_score { background-position: 0 -10458px; }
.emoji.emoji-mute { background-position: 0 -10479px; }
.emoji.emoji-nail_care { background-position: 0 -10500px; }
.emoji.emoji-name_badge { background-position: 0 -10521px; }
.emoji.emoji-neckbeard { background-position: 0 -10542px; }
.emoji.emoji-necktie { background-position: 0 -10563px; }
.emoji.emoji-negative_squared_cross_mark { background-position: 0 -10584px; }
.emoji.emoji-neutral_face { background-position: 0 -10605px; }
.emoji.emoji-new { background-position: 0 -10626px; }
.emoji.emoji-new_moon { background-position: 0 -10647px; }
.emoji.emoji-new_moon_with_face { background-position: 0 -10668px; }
.emoji.emoji-newspaper { background-position: 0 -10689px; }
.emoji.emoji-ng { background-position: 0 -10710px; }
.emoji.emoji-nine { background-position: 0 -10731px; }
.emoji.emoji-no_bell { background-position: 0 -10752px; }
.emoji.emoji-no_bicycles { background-position: 0 -10773px; }
.emoji.emoji-no_entry { background-position: 0 -10794px; }
.emoji.emoji-no_entry_sign { background-position: 0 -10815px; }
.emoji.emoji-no_good { background-position: 0 -10836px; }
.emoji.emoji-no_mobile_phones { background-position: 0 -10857px; }
.emoji.emoji-no_mouth { background-position: 0 -10878px; }
.emoji.emoji-no_pedestrians { background-position: 0 -10899px; }
.emoji.emoji-no_smoking { background-position: 0 -10920px; }
.emoji.emoji-non-potable_water { background-position: 0 -10941px; }
.emoji.emoji-nose { background-position: 0 -10962px; }
.emoji.emoji-notebook { background-position: 0 -10983px; }
.emoji.emoji-notebook_with_decorative_cover { background-position: 0 -11004px; }
.emoji.emoji-notes { background-position: 0 -11025px; }
.emoji.emoji-nut_and_bolt { background-position: 0 -11046px; }
.emoji.emoji-o { background-position: 0 -11067px; }
.emoji.emoji-o2 { background-position: 0 -11088px; }
.emoji.emoji-ocean { background-position: 0 -11109px; }
.emoji.emoji-octocat { background-position: 0 -11130px; }
.emoji.emoji-octopus { background-position: 0 -11151px; }
.emoji.emoji-oden { background-position: 0 -11172px; }
.emoji.emoji-office { background-position: 0 -11193px; }
.emoji.emoji-ok { background-position: 0 -11214px; }
.emoji.emoji-ok_hand { background-position: 0 -11235px; }
.emoji.emoji-ok_woman { background-position: 0 -11256px; }
.emoji.emoji-older_man { background-position: 0 -11277px; }
.emoji.emoji-older_woman { background-position: 0 -11298px; }
.emoji.emoji-on { background-position: 0 -11319px; }
.emoji.emoji-oncoming_automobile { background-position: 0 -11340px; }
.emoji.emoji-oncoming_bus { background-position: 0 -11361px; }
.emoji.emoji-oncoming_police_car { background-position: 0 -11382px; }
.emoji.emoji-oncoming_taxi { background-position: 0 -11403px; }
.emoji.emoji-one { background-position: 0 -11424px; }
.emoji.emoji-open_file_folder { background-position: 0 -11445px; }
.emoji.emoji-open_hands { background-position: 0 -11466px; }
.emoji.emoji-open_mouth { background-position: 0 -11487px; }
.emoji.emoji-ophiuchus { background-position: 0 -11508px; }
.emoji.emoji-orange_book { background-position: 0 -11529px; }
.emoji.emoji-outbox_tray { background-position: 0 -11550px; }
.emoji.emoji-ox { background-position: 0 -11571px; }
.emoji.emoji-page_facing_up { background-position: 0 -11592px; }
.emoji.emoji-page_with_curl { background-position: 0 -11613px; }
.emoji.emoji-pager { background-position: 0 -11634px; }
.emoji.emoji-palm_tree { background-position: 0 -11655px; }
.emoji.emoji-panda_face { background-position: 0 -11676px; }
.emoji.emoji-paperclip { background-position: 0 -11697px; }
.emoji.emoji-parking { background-position: 0 -11718px; }
.emoji.emoji-part_alternation_mark { background-position: 0 -11739px; }
.emoji.emoji-partly_sunny { background-position: 0 -11760px; }
.emoji.emoji-passport_control { background-position: 0 -11781px; }
.emoji.emoji-paw_prints { background-position: 0 -11802px; }
.emoji.emoji-peach { background-position: 0 -11823px; }
.emoji.emoji-pear { background-position: 0 -11844px; }
.emoji.emoji-pencil { background-position: 0 -11865px; }
.emoji.emoji-pencil2 { background-position: 0 -11886px; }
.emoji.emoji-penguin { background-position: 0 -11907px; }
.emoji.emoji-pensive { background-position: 0 -11928px; }
.emoji.emoji-performing_arts { background-position: 0 -11949px; }
.emoji.emoji-persevere { background-position: 0 -11970px; }
.emoji.emoji-person_frowning { background-position: 0 -11991px; }
.emoji.emoji-person_with_blond_hair { background-position: 0 -12012px; }
.emoji.emoji-person_with_pouting_face { background-position: 0 -12033px; }
.emoji.emoji-phone { background-position: 0 -12054px; }
.emoji.emoji-pig { background-position: 0 -12075px; }
.emoji.emoji-pig2 { background-position: 0 -12096px; }
.emoji.emoji-pig_nose { background-position: 0 -12117px; }
.emoji.emoji-pill { background-position: 0 -12138px; }
.emoji.emoji-pineapple { background-position: 0 -12159px; }
.emoji.emoji-pisces { background-position: 0 -12180px; }
.emoji.emoji-pizza { background-position: 0 -12201px; }
.emoji.emoji-plus1 { background-position: 0 -12222px; }
.emoji.emoji-point_down { background-position: 0 -12243px; }
.emoji.emoji-point_left { background-position: 0 -12264px; }
.emoji.emoji-point_right { background-position: 0 -12285px; }
.emoji.emoji-point_up { background-position: 0 -12306px; }
.emoji.emoji-point_up_2 { background-position: 0 -12327px; }
.emoji.emoji-police_car { background-position: 0 -12348px; }
.emoji.emoji-poodle { background-position: 0 -12369px; }
.emoji.emoji-poop { background-position: 0 -12390px; }
.emoji.emoji-post_office { background-position: 0 -12411px; }
.emoji.emoji-postal_horn { background-position: 0 -12432px; }
.emoji.emoji-postbox { background-position: 0 -12453px; }
.emoji.emoji-potable_water { background-position: 0 -12474px; }
.emoji.emoji-pouch { background-position: 0 -12495px; }
.emoji.emoji-poultry_leg { background-position: 0 -12516px; }
.emoji.emoji-pound { background-position: 0 -12537px; }
.emoji.emoji-pouting_cat { background-position: 0 -12558px; }
.emoji.emoji-pray { background-position: 0 -12579px; }
.emoji.emoji-princess { background-position: 0 -12600px; }
.emoji.emoji-punch { background-position: 0 -12621px; }
.emoji.emoji-purple_heart { background-position: 0 -12642px; }
.emoji.emoji-purse { background-position: 0 -12663px; }
.emoji.emoji-pushpin { background-position: 0 -12684px; }
.emoji.emoji-put_litter_in_its_place { background-position: 0 -12705px; }
.emoji.emoji-question { background-position: 0 -12726px; }
.emoji.emoji-rabbit { background-position: 0 -12747px; }
.emoji.emoji-rabbit2 { background-position: 0 -12768px; }
.emoji.emoji-racehorse { background-position: 0 -12789px; }
.emoji.emoji-radio { background-position: 0 -12810px; }
.emoji.emoji-radio_button { background-position: 0 -12831px; }
.emoji.emoji-rage { background-position: 0 -12852px; }
.emoji.emoji-rage1 { background-position: 0 -12873px; }
.emoji.emoji-rage2 { background-position: 0 -12894px; }
.emoji.emoji-rage3 { background-position: 0 -12915px; }
.emoji.emoji-rage4 { background-position: 0 -12936px; }
.emoji.emoji-railway_car { background-position: 0 -12957px; }
.emoji.emoji-rainbow { background-position: 0 -12978px; }
.emoji.emoji-raised_hand { background-position: 0 -12999px; }
.emoji.emoji-raised_hands { background-position: 0 -13020px; }
.emoji.emoji-raising_hand { background-position: 0 -13041px; }
.emoji.emoji-ram { background-position: 0 -13062px; }
.emoji.emoji-ramen { background-position: 0 -13083px; }
.emoji.emoji-rat { background-position: 0 -13104px; }
.emoji.emoji-recycle { background-position: 0 -13125px; }
.emoji.emoji-red_car { background-position: 0 -13146px; }
.emoji.emoji-red_circle { background-position: 0 -13167px; }
.emoji.emoji-registered { background-position: 0 -13188px; }
.emoji.emoji-relaxed { background-position: 0 -13209px; }
.emoji.emoji-relieved { background-position: 0 -13230px; }
.emoji.emoji-repeat { background-position: 0 -13251px; }
.emoji.emoji-repeat_one { background-position: 0 -13272px; }
.emoji.emoji-restroom { background-position: 0 -13293px; }
.emoji.emoji-revolving_hearts { background-position: 0 -13314px; }
.emoji.emoji-rewind { background-position: 0 -13335px; }
.emoji.emoji-ribbon { background-position: 0 -13356px; }
.emoji.emoji-rice { background-position: 0 -13377px; }
.emoji.emoji-rice_ball { background-position: 0 -13398px; }
.emoji.emoji-rice_cracker { background-position: 0 -13419px; }
.emoji.emoji-rice_scene { background-position: 0 -13440px; }
.emoji.emoji-ring { background-position: 0 -13461px; }
.emoji.emoji-rocket { background-position: 0 -13482px; }
.emoji.emoji-roller_coaster { background-position: 0 -13503px; }
.emoji.emoji-rooster { background-position: 0 -13524px; }
.emoji.emoji-rose { background-position: 0 -13545px; }
.emoji.emoji-rotating_light { background-position: 0 -13566px; }
.emoji.emoji-round_pushpin { background-position: 0 -13587px; }
.emoji.emoji-rowboat { background-position: 0 -13608px; }
.emoji.emoji-ru { background-position: 0 -13629px; }
.emoji.emoji-rugby_football { background-position: 0 -13650px; }
.emoji.emoji-runner { background-position: 0 -13671px; }
.emoji.emoji-running { background-position: 0 -13692px; }
.emoji.emoji-running_shirt_with_sash { background-position: 0 -13713px; }
.emoji.emoji-sa { background-position: 0 -13734px; }
.emoji.emoji-sagittarius { background-position: 0 -13755px; }
.emoji.emoji-sailboat { background-position: 0 -13776px; }
.emoji.emoji-sake { background-position: 0 -13797px; }
.emoji.emoji-sandal { background-position: 0 -13818px; }
.emoji.emoji-santa { background-position: 0 -13839px; }
.emoji.emoji-satellite { background-position: 0 -13860px; }
.emoji.emoji-satisfied { background-position: 0 -13881px; }
.emoji.emoji-saxophone { background-position: 0 -13902px; }
.emoji.emoji-school { background-position: 0 -13923px; }
.emoji.emoji-school_satchel { background-position: 0 -13944px; }
.emoji.emoji-scissors { background-position: 0 -13965px; }
.emoji.emoji-scorpius { background-position: 0 -13986px; }
.emoji.emoji-scream { background-position: 0 -14007px; }
.emoji.emoji-scream_cat { background-position: 0 -14028px; }
.emoji.emoji-scroll { background-position: 0 -14049px; }
.emoji.emoji-seat { background-position: 0 -14070px; }
.emoji.emoji-secret { background-position: 0 -14091px; }
.emoji.emoji-see_no_evil { background-position: 0 -14112px; }
.emoji.emoji-seedling { background-position: 0 -14133px; }
.emoji.emoji-seven { background-position: 0 -14154px; }
.emoji.emoji-shaved_ice { background-position: 0 -14175px; }
.emoji.emoji-sheep { background-position: 0 -14196px; }
.emoji.emoji-shell { background-position: 0 -14217px; }
.emoji.emoji-ship { background-position: 0 -14238px; }
.emoji.emoji-shipit { background-position: 0 -14259px; width: 25px; height: 25px; }
.emoji.emoji-shirt { background-position: 0 -14284px; }
.emoji.emoji-shit { background-position: 0 -14305px; }
.emoji.emoji-shoe { background-position: 0 -14326px; }
.emoji.emoji-shower { background-position: 0 -14347px; }
.emoji.emoji-signal_strength { background-position: 0 -14368px; }
.emoji.emoji-six { background-position: 0 -14389px; }
.emoji.emoji-six_pointed_star { background-position: 0 -14410px; }
.emoji.emoji-ski { background-position: 0 -14431px; }
.emoji.emoji-skull { background-position: 0 -14452px; }
.emoji.emoji-sleeping { background-position: 0 -14473px; }
.emoji.emoji-sleepy { background-position: 0 -14494px; }
.emoji.emoji-slot_machine { background-position: 0 -14515px; }
.emoji.emoji-small_blue_diamond { background-position: 0 -14536px; }
.emoji.emoji-small_orange_diamond { background-position: 0 -14557px; }
.emoji.emoji-small_red_triangle { background-position: 0 -14578px; }
.emoji.emoji-small_red_triangle_down { background-position: 0 -14599px; }
.emoji.emoji-smile (copy) { background-position: 0 -14620px; }
.emoji.emoji-smile { background-position: 0 -14641px; }
.emoji.emoji-smile_cat { background-position: 0 -14662px; }
.emoji.emoji-smiley { background-position: 0 -14683px; }
.emoji.emoji-smiley_cat { background-position: 0 -14704px; }
.emoji.emoji-smiling_imp { background-position: 0 -14725px; }
.emoji.emoji-smirk { background-position: 0 -14746px; }
.emoji.emoji-smirk_cat { background-position: 0 -14767px; }
.emoji.emoji-smoking { background-position: 0 -14788px; }
.emoji.emoji-snail { background-position: 0 -14809px; }
.emoji.emoji-snake { background-position: 0 -14830px; }
.emoji.emoji-snowboarder { background-position: 0 -14851px; }
.emoji.emoji-snowflake { background-position: 0 -14872px; }
.emoji.emoji-snowman { background-position: 0 -14893px; }
.emoji.emoji-sob { background-position: 0 -14914px; }
.emoji.emoji-soccer { background-position: 0 -14935px; }
.emoji.emoji-soon { background-position: 0 -14956px; }
.emoji.emoji-sos { background-position: 0 -14977px; }
.emoji.emoji-sound { background-position: 0 -14998px; }
.emoji.emoji-space_invader { background-position: 0 -15019px; }
.emoji.emoji-spades { background-position: 0 -15040px; }
.emoji.emoji-spaghetti { background-position: 0 -15061px; }
.emoji.emoji-sparkler { background-position: 0 -15082px; }
.emoji.emoji-sparkles { background-position: 0 -15103px; }
.emoji.emoji-sparkling_heart { background-position: 0 -15124px; }
.emoji.emoji-speak_no_evil { background-position: 0 -15145px; }
.emoji.emoji-speaker { background-position: 0 -15166px; }
.emoji.emoji-speech_balloon { background-position: 0 -15187px; }
.emoji.emoji-speedboat { background-position: 0 -15208px; }
.emoji.emoji-squirrel { background-position: 0 -15229px; width: 25px; height: 25px; }
.emoji.emoji-star { background-position: 0 -15254px; }
.emoji.emoji-star2 { background-position: 0 -15275px; }
.emoji.emoji-stars { background-position: 0 -15296px; }
.emoji.emoji-station { background-position: 0 -15317px; }
.emoji.emoji-statue_of_liberty { background-position: 0 -15338px; }
.emoji.emoji-steam_locomotive { background-position: 0 -15359px; }
.emoji.emoji-stew { background-position: 0 -15380px; }
.emoji.emoji-straight_ruler { background-position: 0 -15401px; }
.emoji.emoji-strawberry { background-position: 0 -15422px; }
.emoji.emoji-stuck_out_tongue { background-position: 0 -15443px; }
.emoji.emoji-tongue { background-position: 0 -15464px; }
.emoji.emoji-stuck_out_tongue_winking_eye { background-position: 0 -15485px; }
.emoji.emoji-sun_with_face { background-position: 0 -15506px; }
.emoji.emoji-sunflower { background-position: 0 -15527px; }
.emoji.emoji-sunglasses { background-position: 0 -15548px; }
.emoji.emoji-sunny { background-position: 0 -15569px; }
.emoji.emoji-sunrise { background-position: 0 -15590px; }
.emoji.emoji-sunrise_over_mountains { background-position: 0 -15611px; }
.emoji.emoji-surfer { background-position: 0 -15632px; }
.emoji.emoji-sushi { background-position: 0 -15653px; }
.emoji.emoji-suspect { background-position: 0 -15674px; }
.emoji.emoji-suspension_railway { background-position: 0 -15695px; }
.emoji.emoji-sweat { background-position: 0 -15716px; }
.emoji.emoji-sweat_drops { background-position: 0 -15737px; }
.emoji.emoji-sweat_smile { background-position: 0 -15758px; }
.emoji.emoji-sweet_potato { background-position: 0 -15779px; }
.emoji.emoji-swimmer { background-position: 0 -15800px; }
.emoji.emoji-symbols { background-position: 0 -15821px; }
.emoji.emoji-syringe { background-position: 0 -15842px; }
.emoji.emoji-tada { background-position: 0 -15863px; }
.emoji.emoji-tanabata_tree { background-position: 0 -15884px; }
.emoji.emoji-tangerine { background-position: 0 -15905px; }
.emoji.emoji-taurus { background-position: 0 -15926px; }
.emoji.emoji-taxi { background-position: 0 -15947px; }
.emoji.emoji-tea { background-position: 0 -15968px; }
.emoji.emoji-telephone { background-position: 0 -15989px; }
.emoji.emoji-telephone_receiver { background-position: 0 -16010px; }
.emoji.emoji-telescope { background-position: 0 -16031px; }
.emoji.emoji-tennis { background-position: 0 -16052px; }
.emoji.emoji-tent { background-position: 0 -16073px; }
.emoji.emoji-thought_balloon { background-position: 0 -16094px; }
.emoji.emoji-three { background-position: 0 -16115px; }
.emoji.emoji-thumbsdown { background-position: 0 -16136px; }
.emoji.emoji-thumbsup { background-position: 0 -16157px; }
.emoji.emoji-ticket { background-position: 0 -16178px; }
.emoji.emoji-tiger { background-position: 0 -16199px; }
.emoji.emoji-tiger2 { background-position: 0 -16220px; }
.emoji.emoji-tired_face { background-position: 0 -16241px; }
.emoji.emoji-tm { background-position: 0 -16262px; }
.emoji.emoji-toilet { background-position: 0 -16283px; }
.emoji.emoji-tokyo_tower { background-position: 0 -16304px; }
.emoji.emoji-tomato { background-position: 0 -16325px; }
.emoji.emoji-tongue_alt { background-position: 0 -16346px; }
.emoji.emoji-top { background-position: 0 -16367px; }
.emoji.emoji-tophat { background-position: 0 -16388px; }
.emoji.emoji-tractor { background-position: 0 -16409px; }
.emoji.emoji-traffic_light { background-position: 0 -16430px; }
.emoji.emoji-train { background-position: 0 -16451px; }
.emoji.emoji-train2 { background-position: 0 -16472px; }
.emoji.emoji-tram { background-position: 0 -16493px; }
.emoji.emoji-triangular_flag_on_post { background-position: 0 -16514px; }
.emoji.emoji-triangular_ruler { background-position: 0 -16535px; }
.emoji.emoji-trident { background-position: 0 -16556px; }
.emoji.emoji-triumph { background-position: 0 -16577px; }
.emoji.emoji-trolleybus { background-position: 0 -16598px; }
.emoji.emoji-trollface { background-position: 0 -16619px; }
.emoji.emoji-trophy { background-position: 0 -16640px; }
.emoji.emoji-tropical_drink { background-position: 0 -16661px; }
.emoji.emoji-tropical_fish { background-position: 0 -16682px; }
.emoji.emoji-truck { background-position: 0 -16703px; }
.emoji.emoji-trumpet { background-position: 0 -16724px; }
.emoji.emoji-tshirt { background-position: 0 -16745px; }
.emoji.emoji-tulip { background-position: 0 -16766px; }
.emoji.emoji-turtle { background-position: 0 -16787px; }
.emoji.emoji-tv { background-position: 0 -16808px; }
.emoji.emoji-twisted_rightwards_arrows { background-position: 0 -16829px; }
.emoji.emoji-two { background-position: 0 -16850px; }
.emoji.emoji-two_hearts { background-position: 0 -16871px; }
.emoji.emoji-two_men_holding_hands { background-position: 0 -16892px; }
.emoji.emoji-two_women_holding_hands { background-position: 0 -16913px; }
.emoji.emoji-u5272 { background-position: 0 -16934px; }
.emoji.emoji-u5408 { background-position: 0 -16955px; }
.emoji.emoji-u55b6 { background-position: 0 -16976px; }
.emoji.emoji-u6307 { background-position: 0 -16997px; }
.emoji.emoji-u6708 { background-position: 0 -17018px; }
.emoji.emoji-u6709 { background-position: 0 -17039px; }
.emoji.emoji-u6e80 { background-position: 0 -17060px; }
.emoji.emoji-u7121 { background-position: 0 -17081px; }
.emoji.emoji-u7533 { background-position: 0 -17102px; }
.emoji.emoji-u7981 { background-position: 0 -17123px; }
.emoji.emoji-u7a7a { background-position: 0 -17144px; }
.emoji.emoji-uk { background-position: 0 -17165px; }
.emoji.emoji-umbrella { background-position: 0 -17186px; }
.emoji.emoji-unamused { background-position: 0 -17207px; }
.emoji.emoji-underage { background-position: 0 -17228px; }
.emoji.emoji-unlock { background-position: 0 -17249px; }
.emoji.emoji-up { background-position: 0 -17270px; }
.emoji.emoji-us { background-position: 0 -17291px; }
.emoji.emoji-v { background-position: 0 -17312px; }
.emoji.emoji-vertical_traffic_light { background-position: 0 -17333px; }
.emoji.emoji-vhs { background-position: 0 -17354px; }
.emoji.emoji-vibration_mode { background-position: 0 -17375px; }
.emoji.emoji-video_camera { background-position: 0 -17396px; }
.emoji.emoji-video_game { background-position: 0 -17417px; }
.emoji.emoji-violin { background-position: 0 -17438px; }
.emoji.emoji-virgo { background-position: 0 -17459px; }
.emoji.emoji-volcano { background-position: 0 -17480px; }
.emoji.emoji-vs { background-position: 0 -17501px; }
.emoji.emoji-walking { background-position: 0 -17522px; }
.emoji.emoji-waning_crescent_moon { background-position: 0 -17543px; }
.emoji.emoji-waning_gibbous_moon { background-position: 0 -17564px; }
.emoji.emoji-warning { background-position: 0 -17585px; }
.emoji.emoji-watch { background-position: 0 -17606px; }
.emoji.emoji-water_buffalo { background-position: 0 -17627px; }
.emoji.emoji-watermelon { background-position: 0 -17648px; }
.emoji.emoji-wave { background-position: 0 -17669px; }
.emoji.emoji-wavy_dash { background-position: 0 -17690px; }
.emoji.emoji-waxing_crescent_moon { background-position: 0 -17711px; }
.emoji.emoji-waxing_gibbous_moon { background-position: 0 -17732px; }
.emoji.emoji-wc { background-position: 0 -17753px; }
.emoji.emoji-weary { background-position: 0 -17774px; }
.emoji.emoji-wedding { background-position: 0 -17795px; }
.emoji.emoji-whale { background-position: 0 -17816px; }
.emoji.emoji-whale2 { background-position: 0 -17837px; }
.emoji.emoji-wheelchair { background-position: 0 -17858px; }
.emoji.emoji-white_check_mark { background-position: 0 -17879px; }
.emoji.emoji-white_circle { background-position: 0 -17900px; }
.emoji.emoji-white_flower { background-position: 0 -17921px; }
.emoji.emoji-white_large_square { background-position: 0 -17942px; }
.emoji.emoji-white_square_button { background-position: 0 -17963px; }
.emoji.emoji-wind_chime { background-position: 0 -17984px; }
.emoji.emoji-wine_glass { background-position: 0 -18005px; }
.emoji.emoji-wink { background-position: 0 -18026px; }
.emoji.emoji-wolf { background-position: 0 -18047px; }
.emoji.emoji-woman { background-position: 0 -18068px; }
.emoji.emoji-womans_clothes { background-position: 0 -18089px; }
.emoji.emoji-womans_hat { background-position: 0 -18110px; }
.emoji.emoji-womens { background-position: 0 -18131px; }
.emoji.emoji-worried { background-position: 0 -18152px; }
.emoji.emoji-wrench { background-position: 0 -18173px; }
.emoji.emoji-x { background-position: 0 -18194px; }
.emoji.emoji-yellow_heart { background-position: 0 -18215px; }
.emoji.emoji-yen { background-position: 0 -18236px; }
.emoji.emoji-yum { background-position: 0 -18257px; }
.emoji.emoji-zap { background-position: 0 -18278px; }
.emoji.emoji-zero { background-position: 0 -18299px; }
.emoji.emoji-zzz { background-position: 0 -18320px; }
